{% extends 'IDPPred/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    About
{% endblock %}

{% block nav %}
    <span class="nav">
        <ul class="nav">
            <li class="picnav"><img class="nav" src="{% static 'images/logo3.png' %}" alt="Logo" /></li>
            <li class="nav" ><a class="nav" href="{% url 'IDPPred:index' %}">Home</a></li>
            <li class="nav" style="text-decoration: underline"><a class="nav active" href="{% url 'IDPPred:about' %}">About</a></li>
            <li class="nav" ><a class="nav" href="{% url 'IDPPred:help' %}">Help</a></li>
            <li class="nav" ><a class="nav" href="{% url 'IDPPred:sources' %}">Sources</a></li>
        </ul>
    </span>
    {% endblock %}


{% block body_block %}
    <h1>Rango says...</h1>
    <div>
        hey there partner! <br />
    </div>
    <img src="{% static 'images/logo.png' %}" alt="Logo" />
    <div>
        <a href="/IDPPred/about/">About</a><br />
    </div>
{% endblock %}