<!DOCTYPE html>
{% load staticfiles %} 
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>IDPPred - 
        {% block title_block %}
            Home
        {% endblock %}
    </title>
</head>
<body>
    {% block nav %}
    <span class="nav">
        <ul class="nav">
            <li class="picnav"><img class="nav" src="{% static 'images/logo3.png' %}" alt="Logo" /></li>
            <li class="nav" style="text-decoration: underline" ><a class="nav active" href="{% url 'IDPPred:index' %}">Home</a></li>
            <li class="nav"><a class="nav" href="{% url 'IDPPred:about' %}">About</a></li>
            <li class="nav" ><a class="nav" href="{% url 'IDPPred:help' %}">Help</a></li>
            <li class="nav" ><a class="nav" href="{% url 'IDPPred:sources' %}">Sources</a></li>
        </ul>
    </span>
    {% endblock %}
    
    {% block body_block %}
        default body
    {% endblock %}
</body>
</html>