{% extends 'IDPPred/base.html' %}
{% load staticfiles %} 


{% block body_block %}
    <br>
    <br>
    <br>
    <br>
    <h2 >Input Sequence</h2>

    {% if GET %}
        <form action="{% url 'IDPPred:index' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    {% else %}
    <div>
        Key: <br>
        <div style="display: inline-block; color:red">
        High Disorder Chance ( Chance > 75% )
        </div><br>
        <div style="display: inline-block; color:orange">
            Medium Disorder Chance ( 50% < Chance > 75% )
        </div><br>
        <div style="display: inline-block; color:yellowgreen">
            Low Disorder Chance ( 25% < Chance > 50% )
        </div><br>
        <div style="display: inline-block; color:green">
            Very Low Disorder Chance ( < 25% )
        </div><br>
        <div style="display: inline-block; color:gray">
            No Prediction Gathered (First 7 and Last 7 Residues of Sequence)
        </div><br>
    </div>
        <br>
        {% if sequence_data.high %}
                <div style="display: inline-block; color:red">
                    <h2>Overall Sequence Prediction: {{sequence_data.class}} </h2>
                    <h1>Chance of Disorder Percentage : {{sequence_data.prediction}}% </h1>
                </div><br>
            {% elif sequence_data.med %}
                <div style="display: inline-block; color:orange">
                    <h2>Overall Sequence Prediction: {{sequence_data.class}} </h2>
                    <h1>Chance of Disorder Percentage: {{sequence_data.prediction}}% </h1>
                </div><br>
            {% elif sequence_data.neutral %}
                <div style="display: inline-block; color:grey">
                    <h2>Overall Sequence Prediction: {{sequence_data.class}} </h2>
                    <h1>Chance of Disorder Percentage: {{sequence_data.prediction}}% </h1>
                </div><br>
            {% elif sequence_data.low %}
                <div style="display: inline-block; color:yellowgreen">
                    <h2>Overall Sequence Prediction: {{sequence_data.class}} </h2>
                    <h1>Chance of Disorder Percentage: {{sequence_data.prediction}}% </h1>
                </div><br>
            {% elif sequence_data.verylow %}
                <div style="display: inline-block; color:green">
                    <h2>Overall Sequence Prediction: {{sequence_data.class}} </h2>
                    <h1>Chance of Disorder Percentage: {{sequence_data.prediction}}% </h1>
                </div><br>
        {%endif %}

        <h1> Residue Breakdown:</h1> <br>
        <div style="padding-left: 10%;padding-right: 10%;">
        {% for letter in letters %}
            {% if letter.high %}
                <div style="display: inline-block; color:red">
                    {{ letter.residue }}
                    <!--{{ letter.prediction }}-->
                </div>
            {% elif letter.med %}
                <div style="display: inline-block; color:orange">
                    {{ letter.residue }}
                    <!--{{ letter.prediction }}-->
                </div>
            {% elif letter.neutral %}
                <div style="display: inline-block; color:grey">
                    {{ letter.residue }}
                    <!--{{ letter.prediction }}-->
                </div>
            {% elif letter.low %}
                <div style="display: inline-block; color:yellowgreen">
                    {{ letter.residue }}
                    <!--{{ letter.prediction }}-->
                </div>
            {% elif letter.verylow %}
                <div style="display: inline-block; color:green">
                    {{ letter.residue }}
                    <!--{{ letter.prediction }}-->
                </div>
            {%endif %}
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}