body{
    margin: 0px;
}
ul.nav {
    position: fixed;
    top: 0;
    width: 100%;
    float: left;
    list-style-type: none;
    margin: 0;
    margin-left: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }


  
li.nav {
    font-size: 20px;
    float: left;
    padding-left: 6%;
    padding-right: 6%;
}

li.picnav {
    float: left;
    padding-left: 5%;
    padding-right: 4%;
}

a.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 20px;
    text-decoration: none;
}

a.picnav {
    color: white;
    text-align: center;
    text-decoration: none;
}

img.nav{
    border: 0;
    width: 70%;
    height: fill;
    margin: 0;
    display: block;
    float: bottom;
    padding-bottom: 0px;
}


span.nav{
    display: block;
    width: 100%;
    float: left;
}
/* Change the link color to #111 (black) on hover */
a.nav:hover {
    background-color: #111;
}
.active {
    background-color: #04AA6D;
}